{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.panel'|trans }}
{% endblock %}

{% block body %}
    <div>

        <h1>{{ 'title.panel'|trans }}</h1>

        <ul>
            <li>
                <a href="{{ url('panel_password') }}" title="{{ 'title.change_password'|trans }}">
                    {{ 'title.change_password'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ url('panel_email') }}" title="{{ 'title.change_email'|trans }}">
                    {{ 'title.change_email'|trans }}
                </a>
            </li>
        </ul>
    </div>


{% endblock %}