{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'task.task_content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.create_time'|trans, 'task.task_create_time') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.status'|trans, 'status.status_name') }}</th>
                {{ knp_pagination_sortable(pagination, 'label_category'|trans, 'category.title') }}
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.TaskContent }}</td>
                    <td>{{ task.TaskCreateTime|format_date('long') }}</td>
                    <td>{{ task.status.StatusName }}</td>
                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}