{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_details'|trans({'%id%': status.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.status_details'|trans({'%id%': status.id|default('')}) }}</h1>
    {% if status is defined and status|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ status.id }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{  status.StatusName }}</dd>
        </dl>
        <p>
            <a href="{{ url('status_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}